* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    height: 42px;
    /* background-color: pink; */
    /* 注意此地方会层叠 w 里面的margin。 */
    margin: 30px auto;
}

.header .logo {
    float: left;
    width: 198px;
    height: 42px;
    /* background-color: purple; */
}

.header .nav {
    float: left;
    margin-left: 60px;
}

.header .nav li {
    float: left;
    margin: 0px 15px;
}

.header .nav li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.header .nav li a:hover {
    /* background-color: pink; */
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}